<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Planning Center Playground</title>
    <%= if Application.get_env(:planning_center_playground, :env) == :dev do %>
      <script type="module">
        import RefreshRuntime from "http://localhost:5173/@react-refresh";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      </script>
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/js/index.tsx"></script>
    <% else %>
      <script type="module" src={~p"/assets/index.js"}></script>
    <% end %>
  </head>
  <body>
    <div id="app">Loading...</div>
  </body>
</html>
